name: Build & Push to ECR
on:
  workflow_dispatch: {}
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      AWS_REGION: eu-central-1
      AWS_ACCOUNT_ID: 704761460520
      ECR_REPO: helvetia-frontend
      IMAGE_TAG: v7
      IMAGE_URI: 704761460520.dkr.ecr.eu-central-1.amazonaws.com/helvetia-frontend:v7

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::704761460520:role/GitHubActions-ECRPush

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: docker build --platform linux/amd64 -t $IMAGE_URI .

      - name: Push to Amazon ECR
        run: docker push $IMAGE_URI

      - name: Output image URI
        run: echo 'IMAGE pushed: $IMAGE_URI'

